<footer role="contentinfo" class="c-footer">
    <div class="c-footer_wrapper">

        <div class="c-social">
            {% for button in buttons %}
            <div class="c-icon_wrapper">
              <a class="c-social_icon c-icon-link c-icon-link--hover-extra" href="{{ button.link }}" title="{{ button.title }}">
                {% include "icons/" ~ button.icon ~ ".svg" %}
              </a>
              <span class="tooltip"> {{ button.tooltip }}</span> 
            </div> 
            {% endfor %}
          </div>
          


        <div class="c-footer_item c-footer_author">
            © {{ metadata[locale].year.copyrightYear }} {{ metadata[locale].author.name  }}
        </div>


        <div class="c-footer_item c-footer_tech">
            {{ footer[locale].madeWith  }}
            <a class="c-underline-link" href="https://github.com/moody-person/11ty-starter">
                11ty-starter  
            </a>
        </div>

    </div>
</footer>


