<header class="c-header">
    <a href="{{ '/' | url  }}">
        <span class="c-logo">reyher.io</span>
    </a>
    <nav role="navigation" class="c-nav">
        {% set navPages = collections.all | eleventyNavigation %}
        {% set first = true %}
        {% macro renderNavListItem(entry) -%}
        <li class="c-nav-list_item{% if entry.url == page.url %} c-nav-list_item--active{% endif %}">
            {% if entry.url == page.url %}
                <span class="c-simple-link c-simple-link--active" href="{{ entry.url | url }}">{{ entry.title }}</span>
            {% else %}
                <a class="c-simple-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
            {% endif %}
            {%- if entry.children.length -%}
            <ul class="c-nav-list">
                {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
            </ul>
            {%- endif -%}
        </li>
        {%- endmacro %}
        <ul class="c-nav-list">
            {%- for entry in navPages %}
                {% if not first %}
                    {{ renderNavListItem(entry) }}
                {% else %}
                    {% set first = false %}
                {% endif %}
            {%- endfor -%}
        </ul>
    </nav>

    <div class="c-social">
        {% for button in buttons %}
        <div class="c-icon_wrapper">
          <a class="c-social_icon c-icon-link c-icon-link--hover-extra" href="{{ button.link }}">
            {% include "icons/" ~ button.icon ~ ".svg" %}
          </a>
          <span class="tooltip"> {{ button.tooltip }}</span> 
        </div> 
        {% endfor %}
    </div>
      
    
</header>    
