<header class="c-header">

<div class="c-wrapper">
    <div class="c-header-bar"></div>

    <div class="c-header-content">

        <div class="c-content-top">
            <div class="c-logo-wrapper">
            <a href="{{ '/' | url  }}">
                <span class="c-logo">reyher.io</span>
            </a>
            </div>

            <div class="c-search-area">
            <input type="text" placeholder="Search..">
            </div>
        </div>


        <nav role="navigation" class="c-nav">
            {% set navPages = collections.all | eleventyNavigation %}
            {% set first = true %}
            {% macro renderNavListItem(entry) -%}
            <li class="c-nav-list_item{% if entry.url == page.url %} c-nav-list_item--active{% endif %}">
                {% if entry.url == page.url %}
                    <span class="c-simple-link c-simple-link--active" href="{{ entry.url | url }}">{{ entry.title }}</span>
                {% else %}
                    <a class="c-simple-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
                {% endif %}
                {%- if entry.children.length -%}
                <ul class="c-nav-list">
                    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
                </ul>
                {%- endif -%}
            </li>
            {%- endmacro %}
            <ul class="c-nav-list">
                {%- for entry in navPages %}
                    {% if not first %}
                        {{ renderNavListItem(entry) }}
                    {% else %}
                        {% set first = false %}
                    {% endif %}
                {%- endfor -%}
            </ul>
        </nav>

    </div>      
    
</div>

</header>    
