@use "../components/link";

.p-about {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 1rem;
    &_content {
    margin-top: 1.5rem;
}
}

.p-about_picture {
    width: 30%;
    align-self: center;
    border: 8px solid var(--color-accent);
    display: flex;
    margin: 0 auto;
}

@media (max-width: 767px) {

    .p-about_picture {
        width: 80%;
        align-self: center;
        border: 8px solid var(--color-accent);
        display: flex;
        margin: 0 auto;
    }
}