@use "../components/link";

.p-about {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 1rem;
    &_content {
    margin-top: 1.5rem;
}
}

.p-about_picture {
    width: 30%;
    align-self: center;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    
    .p-about_picture {
        width: 80%;
        align-self: center;
        margin-bottom: 1rem;
        margin: 0 auto;
    }
}