@use "../components/link";

.p-resources {
    display: grid;
    grid-template-columns: 1fr minmax(auto, var(--max-content-width)) 1fr;
    width: 100%;
    height: 100%;
}

.c-content {
    margin-top: 1rem;
}

.p-content_wrapper{
    max-width: var(--max-content-width);
    padding: 1rem;
    grid-column: 2;
    margin: 0 auto;
    border-right: 1px solid var(--color-accent);

}

.p-toc_mobile {
    display: none;
}

.p-resources_toc {
padding: 1rem;
width: 12rem;
grid-column: 3;
}


@media (max-width: 767px) {
    .p-resources {
        display: flex;
    }

    .p-toc_mobile{
        display: block;
    }

    .p-resources_toc{
        display: none;
    }

    .p-content_wrapper{

        border-right: 0;
    
    }

}
