@use "sass:map";
@forward "link";

.c-footer {
    background-color: var(--color-accent);

    &_wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem;
        text-align: center;

    }

        
    .c-social{
        display: inline-flex;
        align-items: center;

     }

      .c-icon_wrapper {
        line-height: 0%;
        position: relative;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      }
      svg{
        width: 32px;
        height: 32px;
      }

      span{
        white-space: nowrap;
      }
      
      .c-icon_wrapper .tooltip {
        
        line-height: normal;
        position: absolute;
        top: 0;
        background: var(--color-main);
        color: #000000;
        padding: 4px 5px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: auto;
      }

      .c-icon_wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: var(--color-main);
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      .c-icon_wrapper:hover .tooltip {
        top: -34px;
        opacity: 1;
        visibility: visible;
        pointer-events: none;
      }
      


}
