@use "../mixins";
@forward "nav";
@forward "logo";

//$header-border-width: 4px;
//$header-border-color: var(--color-accent);

.c-header {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    //border-bottom: $header-border-width solid $header-border-color;
    justify-content: space-between; /* Align contents to left and right */
    
    .c-social{
        display: flex;
        margin-left: auto; /* Push to right side of container */
        align-items: center;

     }
     .c-social_icon {
        display: flex;
        align-items: center;
        padding: 0.25rem;
      }
      
     
}

