@use "../mixins";
@forward "nav";
@forward "logo";

$header-border-width: 4px;
$header-border-color: var(--main-gradient);


.c-header{
  position: sticky;
  top: 0;
  z-index: 3;
  height: 5rem;
  border-bottom: 1px solid var(--color-accent);
}

.c-header_bar {
  height: $header-border-width;
  background: $header-border-color;
}

.c-header_bottom{
height: 1px;
background-color: var(--color-accent);
margin: 0 1rem;
}

.c-header_content {
    font-size: 1.15rem;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem 1rem;
    padding-bottom: 21px;
    gap: 1rem;
    background-color: var(--color-main);
    justify-content: space-between; /* Align contents to left and right */

    
    .c-social{
        display: flex;
        margin-left: auto; /* Push to right side of container */
        align-items: center;

     }
     .c-social_icon {
        display: flex;
        align-items: center;
        padding: 0.25rem;
      }



      .c-icon_wrapper {
        position: relative; /* Make the tooltip positioned relative to this element */
      }
      
      .c-icon_wrapper .tooltip {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%); /* Center the tooltip horizontally */
        font-size: 14px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        white-space: nowrap; 
      }
      
      .c-icon_wrapper:hover .tooltip {
        top: -50%; /* Position the tooltip above the icon */
        opacity: 1;
        pointer-events: auto;
      }
      
     
}

