@use "../mixins";
@forward "nav";
@forward "logo";

$header-bar-height: 4px;
$header-bar-color: var(--main-gradient);
.c-header-bar {
  height: $header-bar-height;
  background: $header-bar-color;
  width: 100%;
}

.c-header{
  z-index: 3;
  position: sticky;
  top:0;
}

.c-wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
  border-bottom: 1px solid var(--color-accent);
}


.c-header-content {
  font-size: 1.15rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 1rem;
  justify-content: space-between; /* Align contents to left and right */
}

.c-content-top{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.c-logo-wrapper{
  margin-right: 1rem;
}


.c-search-area{
  min-width: 52px;
  max-width: 200px;
  width: 100%;
}

input[type="text"] {
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}