@use "../components/link";
.p-toc {
    margin-top: 8.5rem;
    position: sticky;
    top: 5rem;
    max-width: 12rem;
}

.toc ol{
margin-top: 0.25rem;
}


//sepeators
.toc > ol > li{
    border-top: 1px solid var(--color-accent);
}
//second level intendation etc
.toc li > ol{
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    font-size: 90%;
}
.toc a {
        background: var(--main-gradient);
        display: inline-block;
        width: fit-content;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //margin-top: 0.25rem;
        //margin-bottom: 0.25rem;
        padding: 0.25rem 0;
    
        &:hover {
            color: var(--color-main);
            display: inline-block;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
        }
  }
//second level no padding
  .toc li ol a {
    padding: 0;
  }


  @media (max-width: 860px) {

    .p-toc {
        margin-top: 1rem;
    }
}
