<div class="p-index">
    <section class="p-index_hero">
        <h1>
            {{ main[locale].welcome }}
        </h1>
        <div class="p-index_hero-text">
            <p>On this website, I document my journey to becoming a Data Scientist and showcase my learning and projects along the way.</p>
            <p>I mainly do this for myself but dearly hope that someone might find some insights.</p>
        </div>
    </section>
    <section class="p-index_latest">
        <h2 class="u-mb--16">
            {% set maxPosts = collections.posts.length | min(3) %}
            {{ main[locale].latest | capitalize }}
            {% if maxPosts == 1 %}
                {{ main[locale].post }}
            {% else %}
                {{ maxPosts }}
                {{ main[locale].posts }}
            {% endif %}
        </h2>
        <ul class="c-posts-list">
            {% set postslist = collections.posts | head(3) %}
            {% include "components/blog-post-items.njk" %}
        </ul>
    </section>
</div>